<form class="qn-calendar-edit-form">
  {{#unless isSimpleCalendarActive}}
  <div class="form-group">
    <label>Дата:</label>
    <input type="text" name="date" value="{{date}}">
  </div>
  <div class="form-group">
    <label>День недели:</label>
    <input type="text" name="weekday" value="{{weekday}}">
  </div>
  <div class="form-group">
    <label>Время:</label>
    <input type="time" name="time" value="{{time}}">
  </div>
  {{/unless}}
  <div class="form-group">
    <label>Погода:</label>
    <select name="weatherPreset">
      {{#each weatherPresets}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>Температура (°C):</label>
    <input type="number" name="temperature" value="{{temperature}}">
  </div>
  {{#if isSimpleCalendarActive}}
  <p style="font-size: 13px; color: #aaa; text-align: center; margin-top: 10px;">
    <em>Дата и время синхронизируются с Simple Calendar.</em>
  </p>
  {{/if}}
</form>
